* {
    box-sizing: border-box;

}

.title {
    text-align: center;
}

.header-container {
    
    
    background-color: rgb(22, 22, 43);
    margin-left: 10%;
    margin-right: 10%;

}

.navbar{
    display: flex;
   justify-content: space-between;
   margin-left: 10%;
   margin-right: 10%;

}

h1  {
    font: 3em roboto;
    color: rgb(253, 250, 250);
}

.logo h1 {
    font-size: 2em;
}

p{
color:#fff;
font: 1em sans-serif;
}

.link-header{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.carousel-inner{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.img-container{
    padding-top: 25px;
    padding-bottom: 100px;
}

button {
    padding: 5px;
    background-color: rgb(22, 93, 199);
    border-radius: 3px;
    border:none;
    
}

a{
    text-decoration: none;
    color: rgb(101, 124, 189);
    
}

li{
    list-style: none;
}

button>a{
    color: rgb(238, 232, 232);
}

.information{
    color: #000;
    text-align: center;
}

.info-container>p{
    color: #000;
    text-align: center;
}

.main-content{
    margin-right:10%;
    margin-left:10%; 
}
.information-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 25px;

    
    
}



.info-container img{
    width: 250px;
    height: 250px;
    border-radius: 5px;

}

.citation{
    height: 300px;
    background-color: grey;
}